@keyframes cat {
    0%   {transform:translate(0px,0px);}
    20%   {transform:translate(10px,14px);}
    40%   {transform:translate(20px,4px);}
    60%   {transform:translate(10px,0px);}
    80%   {transform:translate(0px,-10px);}
  100%   {transform:translate(-10px,0px);}
}
.header
{
    img
    {
        width: 200px;
        animation: cat 30s ease-in-out infinite alternate;
    }
}
section{
    h1
    {
        color: #fff;
        margin:0px;
        margin-bottom: 30px;
    }
 p
 {
    color: #fff;
    margin: auto;
    margin-bottom: 60px;
    font-size: 1.03rem;
    font-weight: 300;
    width: 100%;
    max-width: 480px;
 }
}