@import './backgrounds';
@import './header';
@mixin inputStyle($radius) {
    height: 36px;
    border: none;
    background-color: #f1f1f1;
    border-radius: $radius;
    box-shadow: 3px 0px 14px rgba(155, 115, 115, 0.2) inset;
    margin:3px;
}

@mixin btns($left, $right,$radius) {
        border-top: 1px solid rgba(27, 31, 35, 0.2);
        border-bottom: 1px solid rgba(27, 31, 35, 0.2);
        border-right: $right;
        border-left: $left;
        border-color:rgba(27, 31, 35, 0.2);
        color:#0366d6;
        border-radius: $radius;
        background-color: #fff;
        font-size: 0.8rem;
        padding: 10px;
        text-decoration:none;
}

*
{
    box-sizing: border-box;
}
html
{
    height: 100%;
}
body
{
    font-size: 100%;
    background: radial-gradient( ellipse at bottom,#080850 30%, #050538 50%);
    background-attachment: fixed;   
    width: 100%;
    min-height: 100%;
    height: auto;
    text-align: center;
    padding: 0px;
    margin: 0px;
    display: flex;
    font-family: 'Courier New', Courier, monospace;
}
section
{
    padding-bottom: 200px;
    margin: auto;
    form
    {
        position: relative;
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 30px;
    background-color: #fff;
    box-shadow: 0px 0px 0px 10px rgba(255,255,255,0.1) , 0px 10px 10px 3px rgba(0,0,0,0.2);
    width: 100%;
    max-width: 600px;
    margin: auto;
    input
    {
        width: 100%;
        padding-left: 20px;
        color: #545454;
        font-size: 1.2rem;
        margin: 0px;
    &:first-child
    {
        @include inputStyle(30px 0px 0px 30px);
    }
    &:nth-child(2)
    {
        @include inputStyle(0px 0px 0px 0px);
    }
    &:focus
    {
        outline:none;
    }
    } 
    button
    {
        transition: all .3s ease-in-out;
        cursor: pointer;
        width:1px;
        height: 1px;
        border:none;
       /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#feccb1+0,f17432+50,ea5507+51,fb955e+100;Red+Gloss+%232 */
background: #feccb1; /* Old browsers */
background: -moz-linear-gradient(top, #feccb1 0%, #f17432 50%, #ea5507 51%, #fb955e 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #feccb1 0%,#f17432 50%,#ea5507 51%,#fb955e 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #feccb1 0%,#f17432 50%,#ea5507 51%,#fb955e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feccb1', endColorstr='#fb955e',GradientType=0 ); /* IE6-9 */
        border-radius:30px;
        border: 4px solid #fff;
        box-shadow: 2px 2px 15px rgba(0,0,0,0.2);
        position: absolute;
        color: #fff;
        font-weight: bold;
        padding: 24px;
        right: 6px;
        display: flex; // make us of Flexbox
        align-items: center; // does vertically center the desired content
        justify-content: center; // horizontally centers single line items
        text-align: center; 
        i{
            position: absolute;
            font-size: 24px;
            
        }
        &:focus
        {
            outline:none;
        }
        &:hover
        {
            transform: scale(1.2);
        }
        &:active
        {
            transform: scale(.9);
        }
    }  
}
img.imgLoader
{
    width: 80px;
    position: relative;
    top: 100px;
}
}


 // class style of repos

.commits
{
    margin-top: 30px;
}


.commit
{
    width: 100%;
    max-width: 1080px;
    background-color: rgba(255,255,255,1); 
    border-top: 1px solid #eaecee;
    border-left: 1px solid #eaecee;
    border-right: 1px solid #eaecee;
    padding: 10px;
    font-family:  -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transform: translateY(0px);
    box-shadow: 0px;
    position: relative;
    transition: all .1s ease-in;
    &:hover
    {
    z-index: 1;
     transform: translateY(-4px);
    box-shadow: 0px 6px 15px rgba(0,0,0,0.3);
    }
    &::after
    {
        content: '';
        height: 126px;
        width: 1px;
        background-color: #fff;
        position: absolute;
        left: -14px;
        top: -23px;
    }
    .commit-meta
    {
        text-align: left;
        padding-left: 10px; 
        .details-meta-commit
        {
            display: flex;
            align-items: center;
            p
            {
                padding-left: 8px;
                color: #434343;
                font-size: 0.75rem;
            }
            svg
            {
                margin-left: 8px;
                path
                {
                    fill: #cd0ce2;
                }
            }
        }
    }
    
    
    p.commit-title
    {
        font-size: .9rem;
        font-weight: bold;
        text-decoration: none;
        color: #434343;
        margin: 0px !important;
    }
    .url-avatar
    {
        width: 6%;
        padding:1%;
        height: auto;
        transition: all .2s;
        &:hover
            {
                padding:0%;
            }
        img
        {
            border-radius: 4px;
            width: 100%;
        }
    }
    .line
    {
        width: 30%;
        opacity: 0.2;
    }
    clipboard-copy
    {
        @include btns( 1px solid rgba(27, 31, 35, 0.2), 0px solid rgba(27, 31, 35, 0.2) ,3px 0px 0px 3px);
        &:hover
        {
            color:#fff;
            background-color: #0366d6;
            cursor: pointer;
            .octicon
            {
                fill: #fff;
            }
        }
    }
    a.btn-commiter
    {
        @include btns( 1px solid rgba(27, 31, 35, 0.2), 1px solid rgba(27, 31, 35, 0.2) ,0px 3px 3px 0px);

        &:hover
        {
            color:#fff;
            background-color: #0366d6;
        }
    }
}
.table-list-cell
{
    position: absolute;
}
.signed-commit-badge.verified
{
    color: #cd0ce2;
}
.signed-commit-badge-large
{
    border-radius: 3px;
    font-size: .8rem;
    margin-right: 9px;
    margin: 0px 10px;
    padding: 6px 12px;
    border: 1px solid rgba(27, 31, 35, 0.2);
    span
    {
    position: relative;
    top: 3px;
    }
    &:hover
    {
        cursor: pointer;
        border: 1px solid #cd0ce2;
    }
}
.button-commit
{
    display: flex;
}


// date titile of commits
.ComDateBar
{
    text-align: left;
    color: #fff;
    font-size: 1rem;
    display: flex;
    align-items: center;
    position: relative;
    svg
    {
        position: relative;
        left: -20px;
        fill: #fff;
        background-color: #050538;
        z-index: 4;
    }
    .timeLine
    {
        height: 100px;
        width: 1px;
        background-color: #fff;
        position: absolute;
        left: -8px;
        top: 34px;
    }
}

// menu bar 
.menu-bar
{
    margin-top: 58px;
    height: 68px;
    border-radius: 30px 30px 0px 0px;
    background-color: #fff;
}

// hover on image
.when-hover
{
    width: 100%;
    max-width: 400px;
    padding: 30px;
    background-color: #fff;
    display: none;
    position: absolute;
    top: -244px;
    left: 15px;
    box-shadow: 0px 4px 20px rgba(0,0,0,0.1);
    &::before
    {
        content: '';
        width: 10px;
        height: 10px;
        transform: rotate(45deg);
        position: absolute;
        bottom: -5px;
        z-index: 20;
        background-color: #fff;
    }
.info-hover-main
{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    img
    {
        width: 15%;
    }
    .hover-name
    {
        font-weight:bold;
        color: #434343;
        font-size: 1rem !important;
    }
    .hover-nikname
    {
        color: #989898;
    }
    .hover-description
    {
        width: 100%;
        font-size: 1rem !important
    }
    .img-location-hover
    {
        width: 5%;
        p
        {
            font-size: 0.75rem !important
        }
    }
}
}
